/* Styles for the Create Listing page */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 10px;
}

label {
  display: block;
}

/* Styles for the Listings page */

.listing {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.listing:hover {
  background-color: #f5f5f5; /* Change background color on hover */
}

.vertical {
  border-left: 2px dotted black;
  height: 300px;
  position: relative;
  left: 6%;
}

.listing-info {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.listing img {
  width: 400px;
  height: 250px;
  object-fit:contain;
  margin-bottom: 10px;
}

.listing h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.listing p {
  font-size: 20px;
  margin-bottom: 15px;
}

.listing p:last-child {
  margin-bottom: 10px;
}



.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}


#listings-container a {
  text-decoration: none;
  color: inherit;
}


.be-comment-block {
  margin-bottom: 50px !important;
  border: 1px solid #edeff2;
  border-radius: 2px;
  border:1px solid #ffffff;
}

.comments-title {
  font-size: 25px;
  color: #262626;
  margin-bottom: 15px;
}

.be-comment-name {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.be-comment-content span {
  display: inline-block;
  width: 25%;
  margin-bottom: 5px;
}

.be-comment-time {
  text-align: right;
  font-size: 16px;
  color: #828690;
}

.be-comment-text {
  font-size: 17px;
  line-height: 18px;
  color: #292c34;
  display: block;
  background: #eaeaee;
  border: 1px solid #edeff2;
  padding: 15px 20px 20px 20px;
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

textarea {
  max-width: 50%;
}


.alert{
  margin-right: 50% !important;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}













