{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Watchlist</h2>

    <div id="listings-container">
        {% for listing in listings %}
          <a href="{% url 'listings' listing.id %}">
            <div class="listing">
              <img src="{{ listing.image }}" alt="{{ listing.title }}">

              <div class="listing-info">
                  <h2><strong>{{ listing.title }}</strong></h2>
                  <p><strong>Price:</strong> ${{ listing.price }}</p>
                  <p>{{ listing.description }}</p>
                  <p>Created {{ listing.date_listed }}</p>
              </div>
                
            </div>
          </a>
        {% endfor %}
    </div>
    
{% endblock %}